#scheduled_help_popup-block {
	background: rgba( 144, 238, 144, 0.92);
    border: 1px solid #7c7e7f;
    border-radius: 4px 4px 4px 4px;
    height: 40%;
	width:17.5%; 
    position: fixed;
    top: 35%; 
	left: 30%;
    z-index: 9999;
} 
	#scheduled_help_popup-close {
		float: right;
		height: 33px;
		margin: 10px;
		position: relative;
		right: 0;
		top: 0;
		width: 33px;
		z-index: 101;
	}
	#scheduled_help_popup-close a {
		background-image: url(../images/close_normal.png);
	}
	#scheduled_help_popup-close a:hover {
		background-image: url(../images/close_active.png);
	}

	#scheduled_help_popup-block-top {
		display: block;
		width: 100%;
		height: 100%;
	}

	#scheduled_help_popup-block h2, #scheduled_help_popup-block p {
		color: #2e8b57;
		padding: 3% 6%;
	}
	#scheduled_help_popup-block h2 {
		float: left;
		font-size: 24px;
		margin: 10% 0 0 36%;
	}
	#scheduled_help_popup-block p {
		font-size: 1em;
		clear: both;
		line-height: 1.5em;
		margin: 10% 0 0 40%;
	}
	#scheduled_help_popup-block-bottom {
		background:0 0 rgba( 84, 139, 84, 0.95);
		box-shadow: 0 -12px 15px rgba(0, 0, 0, 0.5);
		float: right;
		width: 100%;
		height: auto;
		margin: 0 auto;
		padding: 0;
	}
	#scheduled_help_popup-block ul {
		height: 100%;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	#scheduled_help_popup-block-bottom ul {
		border-top:1px solid #ccc;
	}
	#scheduled_help_popup-block-bottom ul li {
		border-bottom: 1px solid #7c7e7f;
		clear: both;
		float: left;
		margin: 0;
		width: 100%;
	} 
	#scheduled_help_popup-block-bottom ul li.help_faq {
		border-bottom:none;
	}
	#scheduled_help_popup-block a,
	#scheduled_help_popup-block span.help_txt {
		display: block;
		float: left;
		width: 100%;
		height: 100%;
		text-align: center;
		text-decoration: none;
		font-size: 1.25em;
		font-weight: bold;
		text-align: left;
		
	}
	#scheduled_help_popup-block span.help_txt,
	#scheduled_help_popup-block a span.help_txt  {
		background-size: contain;
		width: auto;
		padding:10px 0 10px 10px;
		color:#bdb76b;	
	}
	#scheduled_help_popup-block ul li span:hover{
		color: #ffffff;
	}
	.scheduled_help_popup-block-image{
		float: left;
		height: 55px;
		margin-left: 12px;
		width: 50px;
	}
	.help_phone .scheduled_help_popup-block-image {
		background: url("../images/phone_icon_normal.png")  no-repeat scroll 50% center / 100% auto transparent;
	}
	.help_mail .scheduled_help_popup-block-image {
		background: url("../images/mail_icon_normal.png") no-repeat scroll 50% center / 100% auto transparent;
	}
	.help_mail:hover .scheduled_help_popup-block-image {
		background: url("../images/mail_icon_active.png")  no-repeat scroll 50% center / 100% auto transparent;
	}
	.help_faq .scheduled_help_popup-block-image {
		background: url("../images/faq_icon_normal.png") no-repeat scroll 50% center / 100% auto transparent;
	}
	.help_faq:hover .scheduled_help_popup-block-image {
		background: url("../images/faq_icon_active.png") no-repeat scroll 50% center / 100% auto transparent;
	}


	